.app-container {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.gallery-img-container {
  padding: 0px;
  height: 500px;
  width: 650px;
  margin-bottom: 20px;
}

.gallery-img {
  height: 500px;
  width: 650px;
}

.title {
  font-size: 20px;
  font-family: 'Roboto';
  margin: 0px;
  color: #1e293b;
}

.subtitle {
  font-size: 14px;
  font-family: 'Roboto';
  color: #64748b;
  font-weight: bold;
}

.thumbnail-container {
  display: flex;
  padding-left: 0px;
}
